<h1><%= @place.name %> - <%= link_to 'Edit', edit_place_path(@place) %> - <%= link_to 'Delete', place_path(@place), method: :delete, data: { confirm: 'Are you sure?' } %></h1>
<p>Address: <%= @place.address == '' ? 'No Address Found' : @place.address %></p>
<p>City: <%= @place.city == '' ? 'No City Found' : @place.city %></p>
<p>State: <%= @place.state == '' ? 'No State Found' : @place.state %></p>
<p>Zip Code: <%= @place.zip_code == nil ? 'No Zip Code Found' : @place.zip_code %></p>

<h2>Your Items:</h2>
<div id="items"></div>
<div><%= button_to 'Add Items', new_place_item_path(@place), class: 'btn btn-primary', method: :get %></div>
<%= javascript_include_tag "places" %>